.destaques {
  min-height: 917px;
  padding-top: 72px;
}

.secondtittle {
  margin: auto;
  text-align: center;
  padding-bottom: 56px;

  p {
    color: var(--red);
    font: var(--subtitle);
    padding-bottom: 8px;
  }

  h2 {
    color: var(--gray-100);
    font: var(--title-md);
  }
}

.projects-grid {
  width: 1040px;
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(2, 280px);
  gap: 24px;
  margin: 0 auto;
}

.project-card {
  background-color: var(--gray-400);
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card-media {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 168px;
}

.card-media img {
  width: 306px;
  height: 156px;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  padding: 20px 12px 17px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-content p {
  font: var(--text-sm);
  color: var(--gray-300);
}
